.engagement-section {
  text-align: center;
  padding: 4rem 2rem;
  background: var(--section-bg);
  width: 100%;
  height: auto;
  color: var(--s-color);
}
.engagement-section h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--text-color);
}
.engagement-section p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--s-color);
  line-height: 1.5;
}
.engagement-content {
  display: grid;
  grid-template-columns: 55% 42%;
  gap: 30px;
  width: 85%;
  margin: auto;
  height: auto;
  margin-top: 3rem;
}
.engagement-item {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  align-items: center;
  background-color: var(--card-bg);
  box-shadow: 0 4px 15px var(--border-glow);
  color: var(--white-text);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

 .engagement-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.45);
}
.engagement-item img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}
.green_bg {
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
   background-image: linear-gradient(#2b2b2b82, #33333375), url(../../../public/Asset/green_bg.png);
    background-blend-mode: soft-light;
}
.blue_bg {
  background-image: linear-gradient(#2b2b2b82, #33333375),
 url(/_next/static/media/blue_bg1.2f2875c6.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: 100%;
}
