.engagement-section {
  text-align: center;
  padding: 50px;
  background-color: var(--background-color);
  width: 100%;
  height: auto;
}
.engagement-section h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}
.engagement-section p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1.8rem;
  color: var(--text-color);
}
.engagement-content {
  display: grid;
  grid-template-columns: 55% 42%;
  grid-gap: 30px;
  gap: 30px;
  width: 85%;
  margin: auto;
  height: auto;
}
.engagement-item {
  padding: 20px;
  display: flex;
  align-items: center;
  background: var(--white-text-color);
  border: 1px solid rgba(75, 207, 158, 0.2);
  border-radius: 12px;
  color: var(--white-color);
  text-align: left;
  box-shadow: 0 0 12px rgba(75, 207, 158, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--text-color);
}
.engagement-section p {
  margin-bottom: 20px;
  color: var(--text-color);
  line-height: 1.5;
}
.engagement-item img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}
.green_bg {
  background-image: url(../../../public/Asset/green_bg.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.blue_bg {
  background-image: url(../../../public/Asset/blue_bg1.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
