/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4d6bdf;
  --secondary-color: #99e9a5;
  --light-secondary-color: #d3f4d8;
  --light-primary-color: #d4ddff;
  --heading-color: #242424;
  --text-color: #333333;
  --light-text-color: #555;
  --white-text-color: #fff;
  --background-color: #e9edff;
  --subbtn-color: #a370ce;
  --light-subbtn-color: #f4e6ff;
  --radial-gradient-color: radial-gradient(
    circle,
    #2ecc71 10%,
    #27ae60 60%,
    #4d6bdf 100%
  );
  --primary-gradient: linear-gradient(45deg, #99e9a5, #4d6bdf);
  --border-gradient: linear-gradient(to bottom, #4d6bdf, #99e9a5);

  --bg-light: #f8f9fb;
  --border-color: #e5e5e5;
  --cards-bg: #ffffff;
  --animated-gradient-color: linear-gradient(
    135deg,
    #4d6bdf 0%,
    #a370ce 40%,
    #92ffbf 100%
  );
  --subbtn_hover_effect: #dfb8ff;

  /* Shadows */
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-medium: 0 6px 20px rgba(0, 0, 0, 0.1);
  --shadow-strong: 0 10px 25px rgba(0, 0, 0, 0.15);

  /* Optional colored glow shadows */
  --shadow-glow-primary: 0 0 20px rgba(77, 107, 223, 0.4);
  --shadow-glow-secondary: 0 0 25px rgba(163, 112, 206, 0.4);

  /* themes update */
  --new-primary-color: #2f3336;
  --new-secondary-color: #9cb256;
  --sub-btn-color: #4bcf9e;
  --sub1-btn-color: #fc8083;
  --dark-primary-color: #202322;
  --white-text: #ffffff;

  --headings-color: var(--new-secondary-color);
  --s-color: rgba(255, 255, 255, 0.9);
  --section-bg: linear-gradient(145deg, var(--dark-primary-color), #1a1c1b);
  --card-bg: #272b2d;
  --border-glow: rgba(75, 207, 158, 0.4);
  --nav-bg: linear-gradient(135deg, #1a1c1b, #222525);
  --nav-hover: #2b2e30;

  /* --primary-gradient: linear-gradient(
    to bottom,
    var(--new-primary-color),
    var(--dark-primary-color)
  ); */

  --accent-gradient: linear-gradient(
    135deg,
    var(--new-secondary-color),
    var(--sub-btn-color)
  );

  --dual-gradient: linear-gradient(
    135deg,
    var(--sub-btn-color),
    var(--sub1-btn-color)
  );

  --section-gradient: linear-gradient(
    145deg,
    var(--dark-primary-color) 0%,
    var(--new-primary-color) 40%,
    var(--new-secondary-color) 100%
  );
}

/* Body Styles */
body {
  /* font-family: "Lexend", sans-serif; */
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

/* Header Styles */
.header {
  /* position: fixed; */
  width: 100%;
  z-index: 1010;
}
.animate-fade {
  animation: fadeIn 0.3s ease-in-out;
}

/* Solve Section */
.solve-section {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #e0f7fa, #fff);
  width: 100%;
  height: auto;
  /* padding: 50px 0;  */
}

.solve-content {
  width: 100%;
  max-width: 1200px; /* Limit the width */
  margin: 0 auto; /* Centering the content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text */
}

.solve-content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: var(--heading-color);
}

.solve-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--text-color);
}

/* Email Input */
/* .email-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 12px;
  width: 500px;
  max-width: 100%; 
  background: var(--white-text-color);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
} */

.email-input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background: var(--border-gradient);
  border-radius: 8px 0 0 8px;
}

.email-input input {
  font-size: 16px;
  flex: 1;
  outline: none;
  border: none;
  padding: 10px;
}

.email-input button {
  padding: 15px 20px;
  background: var(--primary-gradient);
  border: none;
  border-radius: 4px;
  color: var(--white-text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.email-input button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Solve Image Section */
.solve-image {
  width: 100%;
  background: var(--primary-gradient);
  height: 832px;
}

.solve-image img {
  display: block;
  margin: 30% auto;
}

/* src/app/components/HowSection.css */

/* General styling */

/* .peer-list li:hover {
  background-color: #e0e0e0;
  color: #000;
} */

/* Content sections */
/* .chat-type-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
} */

/* 
.icon {
  margin-left: 8px;
  width: 12px;
  vertical-align: middle;
} */

/* V1 Content Cards */

/* Image styling */

/* Utility Options */
.utility-options {
  width: 20%;
  height: auto; /* Use auto for responsiveness */
  background-color: var(--white-text-color);
  border-radius: 20px 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; /* Add shadow for depth */
  padding: 10px; /* Add padding for better spacing */
}

.utility-options ul {
  list-style-type: none;
}

.utility-options li {
  font-size: 18px;
  padding: 15px 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: var(--white-text-color);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; /* Add shadow for depth */
}

/* Customer Engagement */
/* Footer Styles */
.footer {
  width: 100%;
  height: 350px;
  background: var(--primary-gradient);
  color: var(--white-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 35px;
}
.footer p {
  font-size: 16px;
}

.footer a {
  color: var(--white-text-color);
  text-decoration: none;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* Modal Styling */

/* Platform */
.platform-container {
  padding: 20px;
  /* background-color: #f9f9f9; */
}

.platform-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.platform-section {
  background: white;
  border-radius: 8px;
  padding: 20px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 16px;
  color: #333;
  font-weight: 600;
  text-align: left;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  /* border: 1px solid red; */
}

.newcard-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 16px;
  justify-items: stretch;
  align-items: stretch;
  /* border: 1px solid red; */
}
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  cursor: pointer;
  /* transition: transform 0.2s, box-shadow 0.2s; */
  /* border: 1px solid orange; */
}

.card:hover {
  /* transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
  border: 1px solid #99e9a5;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.icon_wrapper {
  background-color: #e2ffe7;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon {
  font-size: 18px;
  color: #4caf50;
}

.card-header h3 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.4;
}
.nav_overlay {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.modalDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  transform: translateY(-20px);
  transition: transform 0.3s ease-out;
  display: none;
  width: 90%;
  height: 94vh;
  align-items: flex-end;
}

.modalDropdown.active {
  transform: translateY(0);
  display: block;
  overflow-y: auto;
}

.modalDropdown .closeBtn {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.closeBtn span {
  margin-left: 10px;
}
.doc_core_wrapper {
  display: flex;
}
.content-inner-heading {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0px;
  color: #4e4e4e;
}
.body_contnet_section {
  width: 100%;
  min-width: 1440px;
  margin: 0px auto;
}
/* Media Queries */
@media (max-width: 768px) {
  .platform-container {
    padding: 0px;
    margin-top: 40px;
  }
  .platform-section {
    padding: 0px;
  }
  .newcard-list {
    grid-template-columns: none;
  }

  .burger-icon {
    display: block;
  }
  .solve-section {
    flex-direction: column;
  }
  .solve-content {
    width: 100%;
    padding: 120px 20px 20px 20px;
  }
  .solve-content h1 {
    font-size: 32px;
  }
  .email-input {
    width: 400px;
  }
  .email-input button {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  .solve-image {
    width: 100%;
    background: var(--primary-gradient);
    height: auto;
    padding: 30px 30px 0px 0px;
  }
  .solve-image img {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .how-section {
    display: block;
    flex-direction: column;
    padding: 20px;
  }
  .how-section h2 {
    font-size: 32px;
  }
  .how-content {
    display: block;
    width: 100%;
  }
  .left-side {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .right-side {
    display: block;
    padding: 20px;
    /* margin-top: 40px; */
    height: auto;
  }
  .center-image {
    display: none;
  }
  .back-btn button {
    display: block;
    margin: auto;
    align-items: center;
    margin-bottom: 15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: var(--primary-color);
    color: var(--white-text-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .world-chat {
    display: block;
    width: 100%;
    margin-top: 0;
  }

  .chat-type-content {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 20px;
    margin-left: 0;
  }
  .chat-type-content:nth-child(1) {
    left: 0;
    top: 0;
    margin-top: 0;
  }
  .chat-type-content:nth-child(2) {
    right: 0;
    top: 0;
  }
  .chat-type-content:nth-child(3) {
    left: 0;
    top: 5px;
    margin-top: 0;
  }
  .chat-type-content:nth-child(4) {
    right: 0;
    top: 5px;
    margin-bottom: 0;
  }
  .chat-type-content ul {
    text-align: left;
    margin-bottom: 8px;
    list-style-type: disc;
    margin: 0px 50px;
  }
  .v1_wrapper {
    height: auto;
    margin-bottom: 20px;
  }
  .v1_wrapper h4 {
    margin: 10px 0px 20px 0;
  }
  .row {
    flex-direction: column;
  }
  .v1_content_card {
    width: 100%;
  }
  .utility-options {
    width: 100%; /* Full width on small screens */
    margin-bottom: 20px; /* Add margin for spacing */
    background-color: orange;
  }
  .engagement-section {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    width: 100%;
    height: auto;
  }
  .engagement-section h2 {
    font-size: 32px;
  }
  .engagement-section p {
    font-size: 16px;
  }
  .engagement-content {
    display: block;
    width: 100%;
  }
  .engagement-item {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .email-input {
    width: 100%;
  }
  .email-input button {
    padding: 12px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .chat-type-content ul {
    margin: 0px;
  }
  .v1_wrapper {
    width: 100%;
  }
  .v1_content_card {
    height: auto;
    padding: 10px;
  }
  .green_bg {
    background-image: url(../../public/Asset/green_bg.png);
    background-position: center;
    background-size: auto;
  }
  .blue_bg {
    background-image: url(../../public/Asset/blue_bg_mob.png);
    background-position: center;
    background-size: auto;
  }
  .engagement-item {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .engagement-item img {
    width: 200px;
    height: auto;
    margin-top: 20px;
  }
  .section-title {
    font-size: 16px;
  }
  .card {
    padding: 10px;
  }
  .icon_wrapper {
    width: 28px;
    height: 28px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
