.section {
  max-width: 1070px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 2rem;
  width: 100%;
  border-radius: 12px;
}

.section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.section p {
font-size: 1.125rem;
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.7;
    opacity: 0.85;
}
