.section {
  max-width: 1070px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 2rem;
    width: 100%;
  border-radius: 12px;
}

.section h2 {
  font-size: 2.2rem;
  color: var(--headings-color);
  margin-bottom: 1rem;
}

.section p {
  color: var(--s-color);
  line-height: 1.8;
  font-size: 1.1rem;
  max-width: 850px;
  margin: 0 auto;
}
