.section {
  /* max-width: 1070px; */
  margin: 0 auto;
  padding: 4rem 2rem;
  width: 100%;
  background: var(--background-color);
}

.section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 3rem;
  /* text-shadow: 0 0 12px rgba(75, 207, 158, 0.3); */
  text-align: center;
}

.section h3 {
  font-size: 1.3rem;
  color: var(--subbtn-color);
  margin-bottom: 1rem;
}

.cardWarp {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 10rem;
}

.bullets {
  flex: 1;
  list-style: none;
  padding: 2rem;
  margin: 0;
  background: var(--white-text-color);
  border: 1px solid rgba(75, 207, 158, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.bullets li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 0.8rem 0;
  padding: 0.6rem 0;
  color: var(--text-color);
  line-height: 1.6;
  transition: transform 0.2s ease, background 0.3s ease;
  font-size: 0.98rem;
}
.bullets:hover {
  transform: scale(1.04);
  box-shadow: 0 0 30px #b6c4ff;
  border-color: var(--subbtn-color);
}
.iconCircle {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background: #deb6ff;
  color: var(--subbtn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, color 0.3s ease;
}
.bullets li:hover .iconCircle {
  background: var(--subbtn-color);
  color: #fff;
}
