.content-area {
  width: 90%;
  margin-top: 20px;
}
.document-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  width: 100%;
  gap: 30px;
}
.doc_core_wrapper {
  display: flex;
}
.doc_sidebar {
  width: 25%;
  background: var(--secondary-color);
  padding: 12px;
}
.rightWrap {
  background-color: var(--white-text-color);
  overflow-y: auto;
  flex: 1;
  padding: 20px;
}
.main-content {
  max-width: 1080px;
  padding: 20px;
}
.mainHeading {
  margin-bottom: 30px;
}
.mainHeading h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  line-height: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.integration_successful p {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  font-style: italic;
  padding-bottom: 12px;
}
